body{
    background-image: url('../img/bg-image.png');
}

nav ul li a{
    background: rgb(33, 37, 41) !important    ;
    color: white !important;
}

.br-none{
    border-right: none;
}

.btn-visibility{
    border: none;
    background: white;
}

.form-signin {
    max-width: 540px;
    padding: 1rem;
}

.h-100vh{
    height: 100vh;
}

.mt-90{
    margin-top: 90px;
}

.navbar-brand:link, .navbar-brand:visited{    
    color: silver !important;
    font-weight: 600;
    transition: 1s;
}

.navbar-brand:hover, .navbar-brand:active{
    color: white !important;
    font-weight: 700;
    transition: 1s;
}

.nav-item a:link, .nav-item a:visited{
    color: silver !important;
    transition: 1s;
}

.nav-item a:hover, .nav-item a:active{    
    color: white !important;
    font-weight: 600;
    transition: 1s;
}

.see-more{
    text-decoration: none;
    font-style: italic;
    color: black;
}

.see-more:hover{
    font-weight: 600;
    transition: 1s;
}

.text-justify{
    text-align: justify;
}